<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />

    <!-- Codigo atualizado para compatibilidade -->
    <!-- 
    <link
      rel="stylesheet"
      type="html/css"
      href="../../../public/stylesheets/bulma.min.css"
    /> -->

    <title>Lista de Tarefas</title>
  </head>
  <body>
    <%- include('../layouts/header', {title: 'TODO-List'}) %> <%-
    include('../layouts/menu') %>

    <section class="section hero is-link is-fullheight-with-navbar">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">TODO-List</h1>
          <h2 class="subtitle">Gerenciando nossas atividades diárias =D</h2>
          <a href="/checklists" class="button is-light is-medium"
            >Ir para Listas de Atividades!</a
          >
        </div>
      </div>
    </section>

    <%- include('../layouts/footer.ejs') %>
  </body>
</html>
